.container{
    display: -webkit-inline-box;
}
.top{
    font-family:sans-serif;
    font-size: 40px;
}

body {
    background-image: url("hitam.jpg");
    background-repeat: repeat;
    background-size: 100%;
    font-size: 100%;

}
.profile{
    margin-top:50px;
    max-width: 100%;
    max-height: 60%;
}


.profile-pic{
    padding: 40px;
    max-width:350px;
    max-height: 350px;

}

hr{
    border-color: antiquewhite;
    border-style: groove;

}
.tulisan{
    font-family: Helvetica;
    font-size: 35px;
    color:whitesmoke;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top:0;
    width:100%;
}

li {
    float: left;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:brown;
}

.active {
    background-color: #4CAF50;
}
#nama{
    font-family: Courier;
    font-weight: bolder;
    padding: 14px 16px;
    float:right;
    color: whitesmoke;
 }
.hobi{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:sandybrown;
    font-weight: 150;
    text-align: center;
    padding: 0;
}
.judul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color:whitesmoke;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.border-hobi{
    border:solid coral;
    max-width: 100%;
    max-height: 100%;
    padding:15px;
    margin-left: 20%;
    margin-right: 0;
}
#drum{
    padding-left: 30px;
    padding-right: 35px;
    padding-top:80px;
    width: 400px;
    height 300px;
}
#guitar{
    padding-left: 35px;
    padding-right: 30px;
    width: 250px;
    height:400px;
}


#icon{
    width:40px;
    height:40px;
}