<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form class="site-form" action="/accounts/signup/" method="POST">
        {% csrf_token %}
        {{ form  }}
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>