{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'portfolio_page/style.css' %}">
    <title>Profile</title>
</head>
<body>
    <div>
        <div class="top">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#hobbies">Hobbies</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li id="nama">Christopher YHT</li>
                </ul>
        </div>
        <div class="container" id="home">
            <div class="profile">
                <img src="{% static 'portfolio_page/Christo.jpg' %}" alt="Foto diri" class="profile-pic">
            </div>
            <div class="tulisan profile">
                <p>My Name is Christopher Y Hasian Tamba.<br>You can call me Christo.</p>
                <p>Born in Jakarta, 11 February 2001</p>
            </div>
        </div><hr>
        <div>
            <div id="hobbies">
                <h1 class="judul">Hobbies</h1>
                <div class="hobi border-hobi container">
                    <div>
                        <img src="{% static 'portfolio_page/gitar.jpg' %}" alt="main gitar" id="guitar">
                        <p>Guitar</p>
                    </div>
                    <div>
                        <img src="{% static 'portfolio_page/drum.jpg' %}" alt="main drum" id="drum">
                        <p>Drum</p>
                    </div>
                </div>
            </div><hr>

            <h1 class="judul" id="skills">Skills</h1>
            <div class="tulisan">
                <p>Python<br>HTML<br>Public Speaking<br>Microsoft Office</p>
            </div><hr>

            <div class="tulisan" id="contact">
                <h1 class="judul">Contact Me!</h1>
                <div class="contact">
                    <p><img src="{% static 'portfolio_page/email.png' %}" alt="Email" id="icon">christamba11@gmail.com</p>
                    <p><img src="{% static 'portfolio_page/Line.png' %}" alt="Line id" id="icon">christamba</p>
                    <p><img src="{% static 'portfolio_page/' %}" alt="Instagram" id="icon">christamba11</p>
                </div>
            </div>
            
            
        </div>
    </div>
</body>
</html>
