{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'msg/style.css' %}">
    <title>Message_list</title>
</head>

<body>
    <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
    </form>

    <form action="{% url 'msg:message_create' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
                {{ field }}
            {% endfor %}
        </div>
        <button type="submit">Add!</button>
    </form>

   {% for message in msgs %}
   <h6>{{message.author.username}}</h6>
   <p> {{message.message}}</p>
   <p>{{message.created_at}}</p>
   <form method="POST" action="{% url 'msg:comment_create' message_id=message.id %}">
       {% csrf_token %}
       <div>
           {% for field in comment_form.visible_fields %}
            {{ field }}
           {% endfor%}
           <button type="submit">Comment</button>
       </div>
   </form>
    {% for comment in message.comments.all %}
        <div>
            {{comment.comment}} by {{comment.author.username}}
        </div>
    {% endfor %}
   {% endfor %}
</body>
</html>